<div class="container">
    <div class="row">
        <app-warning-alert></app-warning-alert>
        <app-success-alert></app-success-alert>
    </div>
    <div class="row">
        <app-servers></app-servers>
        <app-server></app-server>
    </div>
    <div class="row">
        <h3>Exercise 2 </h3>
        <input type="text" [(ngModel)]="username">
        <button class="btn btn-primary" [disabled]="username === ''" (click)="username = ''">Reset</button>
        <p>{{ username }}</p>
    </div>
</div>
